
<div class = "centre">
  <div>
    <h3>Température du silo :</h3>
    <h4> {{moyenneSondes()}} °C </h4>
  </div>

  <div class="row">
  <div class="list-group col-12" >

  <a *ngFor="let cellule of cellules;"
  href="#" class="list-group-item list-group-item-action">
  <h6>cellule numero {{cellule.numero}}:</h6>
  remplis a {{cellule.contenu}}/{{cellule.contenance}}<br>
  soit ={{cellule.pourcentage}}%<br>
  <label for="file">cellule {{cellule.numero}}</label>
  <progress id="file" max="100" value={{cellule.pourcentage}}> 70% </progress>

  </a>
  </div>
  <hr>
  <div class="row">
    <button class="btn btn-success col-12">
    Pas encore fonctionnel
    </button>
  </div>

  </div>

</div>
