table.a{
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border: 0px solid purple;
    text-align: center;
    border-spacing: 0px 50px;
}

.contour1 {
    border-collapse: collapse;
    border: 0px solid purple;
}

table.silo {
    table-layout: center;
    width: 20%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: null;
}
.centre{
background-color : #DFF2FF;
position:absolute;
top: 73px;
height:463px;
left:25%;
right:20%;
border:2px dashed black;
border-radius:10px;
}

.contour2 {
    border-collapse: collapse;
    border: 2px solid rgb(16, 110, 111);
}
