
<div class = "centre">
        <table class="a">
            <tr class="contour1">
                <td class="contour1">Silo 1
                    <table class="silo">
                        <tr class="contour2">
                            <td id="1.1">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.2">&nbsp;</td>
                        </tr>
                        <tr  class="contour2">
                            <td id="1.3">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.4">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.5">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.6">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.7">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.8">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.9">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="1.10">&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td class="contour1">Silo 2
                    <table class="silo">
                        <tr class="contour2">
                            <td id="2.1">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.2">&nbsp;</td>
                        </tr>
                        <tr  class="contour2">
                            <td id="2.3">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.4">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.5">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.6">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.7">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.8">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.9">&nbsp;</td>
                        </tr>
                        <tr class="contour2">
                            <td id="2.10">&nbsp;</td>
                        </tr>
                    </table>
        </table>
</div>
