<!DOCTYPE html>
<html>
<head>
    <link href="app.component.css" rel="stylesheet" type="text/css">
    <title> Projet CWA </title>
    <meta charset="UTF-8">
</head>

<body>
    <h1> Projat CWA </h1>
    <p> Et voilà le texte de la page</p>
        <table>
            <tr>
                <td>Silo 1</td>
                <td>Silo 2</td>
                <td>Silo 3</td>
            </tr>
            <tr>
                <td>Silo 4</td>
                <td>Silo 5</td>
                <td>Silo 6</td>
            </tr>
        </table>
</body> 
</html>