
.navbar1 {
  background-color: #333;
  text-align : center;
  color : white;
  overflow: hidden;
  position:fixed;
  bottom: 0;
  width: 100%;
  height : 40px;

}
.ub {
color : white}

.gauche1{
background-color : #FDF1B8;
position:absolute;
top:73px;
left:3px;
width:25%;
height:230px;
border:2px dashed black;
border-radius:10px;
}
.gauche2{
background-color : #FDF1B8;
position:absolute;
top:52%;
left:3px;
width:25%;
height:365px;
border:2px dashed black;
border-radius:10px;
}
.centre{
background-color : #DFF2FF;
position:absolute;
top: 73px;
height:576px; 
left:25%;
right:20%;
border:2px dashed black;
border-radius:10px;
}
.droite1{
background-color :#FDF1B8;
position:absolute;
top:73px;
left :80%;
width:20%;
height:230px;
border:2px dashed black;
border-radius:10px;
}
.droite2{
background-color : #FDF1B8;
position:absolute;
top:52%;
left :80%;
width:20%;
height:365px;
border:2px dashed black;
border-radius:10px;
}
